.simple-form-custom-argument {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.argument-content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    margin-top: 10px;
  }
}

.argument-content-input textarea {
  background-color: white;
  border: 1px solid #5DB7DE;
}
