.profilepage {

justify-content: center;
}

.profile-icon {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  color: #1EA5FC;
}

.username {
  font-weight: bold;
  color: #031827;
}

.useremail {
  font-weight: bold;
  color: #031827;
}

.userlocation {
  font-weight: bold;
  color: #031827;

}

.user-interessts-string {
  font-weight: bold;
  color: #031827;
}

.rank {
  font-weight: bold;
  color: #031827;
}
