.makeitcentered {
  justify-content: center;
  display: flex;
  justify-content: space-evenly;

}

.profile-icon {
  border-radius: 50%;
  height: 160px;
  width: 160px;
text-align: center;
justify-content: center;
display: flex;
color: #1EA5FC;
fill: #1EA5FC;

}

.username {
  font-weight: bold;
  color: #031827;

 font-size: 20px;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
}

.useremail {
  font-weight: bold;
  color: #031827;
  padding-left: 30px;
}

.userlocation {
  font-weight: bold;
  color: #031827;
  padding-left: 30px;

}

.user-interessts-string {
  font-weight: bold;
  color: #031827;
  padding-left: 30px;
}

.rank {
  font-weight: bold;
  color: #031827;
  padding-left: 30px;
}

.grid-container-profile {
  display: grid;
  grid-template-columns: 400px auto;
  // grid-template-rows: max-content;
  width: 100%;
  grid-gap: 75px;
  background-color: #fff;
  height: 100%;
}

.leftside {
  width: 40%;
}

.profilecard {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid $custom-background;
  display: block;
  justify-content: center;
}

.profileheader {
  justify-content: center;
  display: flex;
}

.rightside {

  text-align: right;
}
.h1 {
  text-align:center;
  justify-content: center;
display: flex;
}

.firsth {
  margin-top: 10px ;
  margin-bottom: 10px;
  text-align:center;
  justify-content: center;
display: flex;

}

.yourdebates {
display: block;
  justify-content: center;


}

.profilesearch {
  text-align: center;
justify-content: center;
display: flex;
margin-bottom: 10px;
}

.form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
.pleasestay {
  display: grid;
  justify-content: center;
}
.intrest-tags {
  display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    margin: 10px;
}

.profile-button{
  width: 120px;
  height: 40px;
  background-color: white;
  border: 1px solid $custom-primary;
  border-radius: 5px;
  color: $custom-primary;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: auto;
  }
 }
