 .screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
 }

 .content-container {

 }

 .search-title-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
  text-align: center;
 }

 .search-animation-wrapper {
  display: flex;
  justify-content: center;
}