.debate-card {
  width: 100%;
  height: 180px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid $custom-background;
  display: block;
  justify-content: center;
 }

 .argument-card {
  width: 100%;
  height: 180px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid $custom-background;
  display: block;
  justify-content: center;
 }

 .swiper-card {
  // background-image: url(); - we should add here the wave image on white background
  width: 270px;
  height: 270px;
  padding: 10px;
  margin: auto;
 }