.debate-card {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid $custom-background;
  display: block;
  justify-content: center;
 }

 .argument-card {
  width: 100%;
  height: auto;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid $custom-background;
  display: block;
  justify-content: center;
  background-color: white;
  overflow-wrap: break-word;
  // position: relative;

  p {
    color: #373f47;
    margin-bottom: 15px;
  }

  .argument-icon-container {
    width: 100%;
    // margin: auto;
    // position: absolute;
    // bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-format {
    width: 18px;
  }
 }

.debate-card-title {
  color: #031827;
  text-decoration: none;
  font-family: "Titillium Web";
}

.debate-card-text {
 text-decoration: none;
  color: #031827;
  font-family: "Poppins";
}

.h1-debate-card {
  font-family: "Titillium Web";
  color: #031827;
}

.header-debate-card {
  width: 100%;
  height: 40px;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.text {
  text-decoration: none;
}

.tag-pill {
background-color: $custom-primary;
border-radius: 28px;
color: white;
padding-left: 5px;
padding-right: 5px;
margin-right: 5px;
height: 25px;
}

.tag-names {
  display: flex;
  justify-content: flex-start;
}

.debate-header-picture {
  display: inline-flex;
  align-items: center;
}

.debate-header-picture img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.index-page-card {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
}
