 .main-container-block {
  width: 85%;
  display: block;
  justify-content: center;
  background-color: #fff;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
 }

 .title-container {
  width: 100%;
  display: block;
  justify-content: center;
  overflow-wrap: break-word;
  inline-size: 100%;
  margin-bottom: 15px;
 }
