.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  height: 60px;
  border-top: 1px solid #5DB7DE;
}

.navbar-items {
  display: inline-flex;
  justify-content: space-between;
  background: white;
  width: 100%;
}

.navbar-icon {
  height: 31px;
  width: 31px;
}
