.swiper-card {
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 5px;
  border: 2px solid $custom-background;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  height: 45vh;
  align-items: center;
  text-align: center;
  justify-content: center;

  p {
    margin-bottom: 0px;
  }
 }

 .swiper-card-1 {
  background-image: url("wave1.png");
  background-position: right bottom;
 }

 .swiper-card-2 {
  background-image: url("wave1.png");
  background-position: left bottom;
 }

 .swiper-card-3 {
  background-image: url("wave1.png");
  background-position: center bottom;

 }

 .swiper-card-4 {
  background-image: url("wave2.png");
  background-position: right top;

 }

 .swiper-card-5 {
  background-image: url("wave2.png");
  background-position: left top;
 }

 .swiper-card-6 {
  background-image: url("wave2.png");
  background-position: center top;
 }

 .swiper-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 }

 .swipe-button-section {
  display: grid;
  width: 90%;
  margin-bottom: 100px;
  position: fixed;
  margin-left: 5%;
  margin-right: 5%;
  bottom: 0;
 }

 .swipe-procon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 }
