 .blue-tag {
  background-color: $custom-primary;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 30px;

 p {
  color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
 }
 }
