 .blue-tag {
  background-color: $custom-primary;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 30px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

 p {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 600;
 }
 }
